@import "tailwindcss";

:root {
  --background: #070b14;
  --surface: #111827;
  --surface-light: #172033;
  --primary: #38bdf8;
  --secondary: #6366f1;
  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;
  --border: #1e293b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
      circle at top,
      rgba(99, 102, 241, 0.12),
      transparent 40%
    ),
    var(--background);

  color: var(--text-primary);
  font-family: var(--font-inter);
  min-height: 100vh;
}

h1,
h2,
h3,
.logo-font {
  font-family: var(--font-orbitron);
}

button {
  cursor: pointer;
}